<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>프로젝트 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h2 class="mt-3 mb-3">프로젝트 목록</h2>
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>제목</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projectList}">
                    <td>
                        <a th:href="@{'/projects/' + ${project.id}}"><span th:text="${project.title}"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <label>업무</label>
            <div>
                <div class="btn-group mb-3">
                    <form th:action="@{'/projects/'+${project.id}+'/tasks'}" method="get">
                        <input class="btn btn-primary" type="submit" value="등록"/>
                    </form>

                    <form th:action="@{'/projects/'+${project.id}+'/tasks'}" method="get">
                        <input class="btn btn-primary" type="submit" value="수정"/>
                    </form>

                    <form th:action="@{'/projects/'+${project.id}+'/tasks'+${task.taskId}}" method="post">
                        <input class="btn btn-primary" type="submit" value="삭제"/>
                    </form>
                </div>
            </div>
            <label>태그</label>
            <div>
                <div class="btn-group mb-3">
                    <form th:action="@{'/projects/'+${project.id}+'/tasks'+${task.taskId}+'/comments'}" method="get">
                        <input class="btn btn-primary" type="submit" value="등록"/>
                    </form>

                    <form th:action="@{'/projects/'+${project.id}+'/tasks'+${task.taskId}+'/comments'}" method="get">
                        <input class="btn btn-primary" type="submit" value="수정"/>
                    </form>

                    <form th:action="@{'/projects/'+${project.id}+'/tasks'+${task.taskId}+'/comments'+${comment.commentId}}"
                          method="post">
                        <input class="btn btn-primary" type="submit" value="삭제"/>
                    </form>
                </div>
            </div>
            <label>마일스톤</label>
            <div>
                <div class="btn-group mb-3">
                    <form th:action="@{'/projects/'+${project.id}+'/milestones'}" method="get">
                        <input class="btn btn-primary" type="submit" value="등록"/>
                    </form>

                    <form th:action="@{'/projects/'+${project.id}+'/milestones'}" method="get">
                        <input class="btn btn-primary" type="submit" value="수정"/>
                    </form>

                    <form th:action="@{'/projects/'+${project.id}+'/milestones'+${milestones.milestoneId}}" method="post">
                        <input class="btn btn-primary" type="submit" value="삭제"/>
                    </form>
                </div>
            </div>
            <form th:action="@{/projects}" method="get">
                <input class="mt-3 btn btn-primary" type="submit" value="프로젝트 생성"/>
            </form>
            <form th:if="${admin}" th:action="@{'/projects/' + ${project.id}+'/manage'}" method="get">
                <input class="mt-3 btn btn-primary" type="submit" value="회원 관리"/>
            </form>
        </div>
    </div>
</div>
</body>

</html>
