<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>업무 조회</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <p class="mt-3 mb-3 card-text h2">업무 상세 내역</p>
            <div class="card">
                <div class="card-header">
                    <p class="card-text">등록자: <span th:text="${taskDetails.taskWriteMemberId}"></span></p>
                    <p class="card-text">태그:
                        <span th:each="tag : ${taskDetails.tagList}" th:text="${tag.tagName} + '    '" th:if="${not #lists.isEmpty(taskDetails.tagList)}"></span>
                    </p>
                    <form th:action="@{'/projects/' + ${projectId} + '/tasks/' + ${taskId} + '/manage/tag'}" method="get" class="mb-3">
                        <input class="mt-3 btn btn-primary" type="submit" value="태그 관리"/>
                    </form>

                    <p class="card-text" th:if="${taskDetails.mileStone.startPeriod != null and taskDetails.mileStone.endPeriod != null}">
                        기간: <span th:text="${taskDetails.mileStone.startPeriod + ' ~ ' + taskDetails.mileStone.endPeriod}"></span>
                    </p>

                    <p class="card-text" th:unless="${taskDetails.mileStone.startPeriod != null and taskDetails.mileStone.endPeriod != null}">
                        기간: 없음
                    </p>

                    <form th:unless="${taskDetails.mileStone.startPeriod != null and taskDetails.mileStone.endPeriod != null}" th:action="@{'/projects/' + ${projectId} + '/tasks/' + ${taskId} + '/manage/milestone'}" method="get" class="mb-3">
                        <input class="mt-3 btn btn-primary" type="submit" value="마일스톤 추가"/>
                    </form>

                    <form th:if="${taskDetails.mileStone.startPeriod != null and taskDetails.mileStone.endPeriod != null}" th:action="@{'/projects/' + ${projectId} + '/tasks/' + ${taskId} + '/manage/milestone/delete'}" method="post" class="mb-3">
                        <input type="hidden" name="milestoneId" th:value="${taskDetails.mileStone.milestoneId}"/>
                        <input class="mt-3 btn btn-danger" type="submit" value="마일스톤 삭제"/>
                    </form>


                </div>
                <div class="card-body">
                    <p class="card-text h3">제목: <span th:text="${taskDetails.taskTitle}"></span></p>
                    <hr class="my-4">
                    <p class="card-text">내용: <span th:text="${taskDetails.taskContent}"></span></p>
                    <hr class="my-4">

                </div>
                <div class="card-footer">
                    <div th:each="comment : ${taskDetails.commentList}">
                        <p class="card-text">댓글 작성자: <span th:text="${comment.commentWriteMemberId}"></span></p>
                        <p class="card-text">댓글: <span th:text="${comment.commentContent}"></span></p>

                        <div th:if="${loginMemberId == comment.commentWriteMemberId}" class="mb-3">
                            <form th:action="@{'/projects/'+${projectId}+'/tasks/' + ${taskId} + '/comment/' + ${comment.commentId} + '/edit'}"
                                  method="get">
                                <button type="submit" class="btn btn-sm btn-warning">댓글 수정</button>
                            </form>

                            <form th:action="@{'/projects/'+${projectId}+'/tasks/' + ${taskId} + '/comment/' + ${comment.commentId} + '/delete'}"
                                  method="post">
                                <input type="hidden" name="_method" value="delete"/>
                                <button type="submit" class="btn btn-sm btn-danger">댓글 삭제</button>
                            </form>
                        </div>
                        <hr class="my-4">
                    </div>

                    <form th:action="@{'/projects/'+${projectId}+'/tasks/' + ${taskId} + '/comment'}" method="post">
                        <div class="form-group">
                            <label for="comment">댓글 추가:</label>
                            <input type="text" class="form-control" id="comment" name="comment" required>
                        </div>
                        <button type="submit" class="btn btn-primary">댓글 작성</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
